
h1 {
    overflow: hidden;
    text-align: center;
    font-weight: normal;
   }
   h1:before,
   h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
   }
   h1:before {
    right: 0.5em;
    margin-left: -50%;
   }
   h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.article{
margin: 20px 0px;	
font-size: 18px;
}
legend {
    background-color: gray;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 22px;
}
button.read_more{
    margin-top: 10px;
    font-size: large;
    border: none;
    color: white;
    background-color: #4CAF50;
    opacity: 0.7;
    border-radius: 4px;
    min-height: 30px;
    min-width: 110px;
    outline: none;
    transition: 0.4s;

}
button.read_more:hover{
    opacity: 1;	
}
li{
    text-align: left;
}
#addPage{
float: right;
margin-right: 5px;
}
#subtractPage{
float: left;
margin-left: 5px;
}
#page_of_page{
   width:100%; 
}
button.pages_btn{
 font-size: medium;
 font-weight: normal;
 width: 30%;
 max-width: 130px; 
 height: 40px;  
 background-color: #666666;
 color: white;
 border: none;
 opacity: 0.7;
 transition: 0.4s;
 border-radius: 5px;
 transform: translateY(-40px);
}
button.pages_btn:hover{
opacity: 1;
}
.pages_p{
    margin: 0 auto;
    font-size: 17px;
    vertical-align: middle;
    width: initial;  
    float: left;
    padding: 10px 0px;
   }
.margin{
    clear: both;
    border-bottom: 2px solid #333;
    transform: translateY(-20px);;
}
