br {
    display: block;
    margin: 10px 0;
}
h2{
    margin:0;
}
.bmi{
min-height: 70px;
max-width: 420px;
color: white; 
background-color: gray;
margin: auto;
border:solid;
border-radius: 20px;
border-width: 4px;
border-color: silver;
font-size: 60px;
padding: 10px;
}
.bmi.r{
    background-color: red;
}
.bmi.o{
    background-color: orange;
}
.bmi.g{
    background-color: green;
}
.bmi.lg{
    background-color: lightgreen;
}

.bmi_des{
    height: auto;
    width: 90%;
    color: white; 
    background-color: gray;
    margin: auto;
    border:solid;
    border-radius: 5px;
    border-width: 4px;
    border-color: silver;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
    }
#Change_user_info{
    display:none;
}
select{
    height: 30px;
    width: 30%;
    margin: 5px;
    border-color: silver;
    opacity: 1;
    border-radius: 4px;
    border-width: 2px;
    font-size: 17px;
    white-space: normal;
    overflow-wrap: break-word;
    text-decoration: none;
    resize: none;
    transition: 0.8s;
    text-align: center;   
}
select:hover{
    border-color: silver;
    opacity: 1;
}


textarea.user.o{
  opacity: 1;
  width: 90%;
  padding: 0px;
  min-height: 60px;;
}
textarea.user.b{
    font-size: 15px;
}
textarea.user{
    min-height: 30px;
    width: 70%;
    margin: 5px;
    padding: 5px;
    border-color: silver;
    opacity: 0.70;
    border-radius: 4px;
    border-width: 2px;
    font-size: 17px;
    white-space: normal;
    overflow-wrap: break-word;
    text-decoration: none;
    resize: none;
    transition: 0.8s;
    text-align: center;
}
textarea.user:hover{
    border-color: silver;
    opacity: 1;
}
textarea.feel_text{
    max-width: 500px;
    width: 90%;
}
input.feel_text{
    max-width: 300px;
}


.user_info{
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #f2f2f2;
    border-style: solid;
    border-bottom-style: none;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 2px;
    border-color: #808080;
    padding: 15px;
    font-size: 20px;
    line-height: 1.6;
}
.illneses{
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #808080;
    border-style: solid;
    border-top-style: none;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    border-color: #808080;
    padding: 15px;
    color: white;
    font-size: 20px;
}
.allergies{
    padding: 5px;
    margin: 0;
    height: auto; 
    float: left;
    width: 45%; 
}
.diseases{
    padding: 5px;
    margin: 0;
    height: auto;
    float: right;
    width: 45%; 
}

.disease{
height: auto;
width: 100%;
}
textarea.disease{
    height: auto;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-color: silver;
    opacity: 0.70;
    border-radius: 4px;
    border-width: 2px;
    font-size: 17px;
    white-space: normal;
    overflow-wrap: break-word;
    text-decoration: none;
    resize: none;
    transition: 0.8s;
}
textarea.disease:hover{
    border-color: silver;
    opacity: 1;
}
button{
background-color: #4CAF50;  
color: white;
cursor: pointer;
border: none;
border-radius: 4px;
min-width: 240px;
width: 50%;
padding: 12px;
opacity: 0.70;
margin: 5px 0;
display: inline-block;
font-size: 17px;
text-decoration: none;
}
button:hover{
opacity: 1;
}
#disease_name{
    width: 65%;
}

   h1 {
    overflow: hidden;
    text-align: center;
    font-weight: normal;
   }
   h1:before,
   h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
   }
   h1:before {
    right: 0.5em;
    margin-left: -50%;
   }
   h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.margin{
    clear: both;
    border-bottom: 2px solid #333;
    transform: translateY(20px);;
}

.custom-select {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color:  #4CAF50;
  }
  
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  .select-items {
    position: absolute;
    background-color:  #4CAF50;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }