.user_info{
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #f2f2f2;
    border-style: solid;
    border-bottom-style: none;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 2px;
    border-color: #808080;
    padding: 15px;
}
.illneses{
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #808080;
    border-style: solid;
    border-top-style: none;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    border-color: #808080;
    padding: 15px;
    color: white;
}
.allergies{
    padding: 5px;
    margin: 0;
    height: auto; 
    float: left;
    width: 48%; 
}
.diseases{
    padding: 5px;
    margin: 0;
    height: auto;
    float: right;
    width: 48%; 
}

.disease{
height: auto;
width: 100%;
}
textarea.disease{
    height: auto;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-color: silver;
    opacity: 0.70;
    border-radius: 4px;
    border-width: 2px;
    font-size: 17px;
    white-space: normal;
    overflow-wrap: break-word;
    text-decoration: none;
    resize: none;
    transition: 0.8s;
}
textarea.disease:hover{
    border-color: silver;
    opacity: 1;
}
button{
background-color: #4CAF50;  
color: white;
cursor: pointer;
border: none;
border-radius: 4px;
min-width: 240px;
width: 50%;
padding: 12px;
opacity: 0.70;
margin: 5px 0;
display: inline-block;
font-size: 17px;
text-decoration: none;
}
button:hover{
opacity: 1;
}
#disease_name{
    width: 65%;
}

   h1 {
    overflow: hidden;
    text-align: center;
    font-weight: normal;
   }
   h1:before,
   h1:after {
    background-color: #333;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
   }
   h1:before {
    right: 0.5em;
    margin-left: -50%;
   }
   h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.margin{
    clear: both;
    border-bottom: 2px solid #333;
    transform: translateY(20px);;
}